/* 1. General Reset Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(185, 170, 230);
  font-size: 1.2rem;
}

/* 2. Wrapper & Layout Styles */
#wrapper {
  margin: auto;
  border: 5px solid;
  width: 92%;
  background-color: lightcyan;
  padding: 1.5rem;
}

/* 3. Typography Styles */

/* Headings */
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  padding: 1.25rem;
  margin: auto;
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
  border-radius: 1.75rem;
  width: 25rem;
  color: #3c00ff;
  box-shadow: 10px 10px 10px rgb(103, 221, 221);
}
/* Class h2 */
.plot-heading {
  color: aqua;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  color: #3c00ff;
}

h3,
h4 {
  color: indigo;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}

/* Paragraphs */
p {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  line-height: 1.35rem;
  color: navy;
}

/* Emphasized Text */
strong {
  color: darkred;
  font-weight: 900;
}

/* 4. Link Styles */
a {
  color: greenyellow;
  text-decoration: none;
}

a:hover {
  color: darkred;
  text-decoration: underline;
}

/* 5. Image Styles */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* ID's */
#directory {
  background-color: black;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 6rem;
}

#five {
  color: rgb(0, 0, 0);
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

#main {
  display: flex;
  justify-content: end;
}

/* Forms Styles */
form {
  border: 2px solid darkslategray;
  padding: 1rem;
  background-color: lightpink;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 100%;
  border: none;
}

input[type="checkbox"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

#form-check > label {
  display: inline-block;
}

textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Button */
form > button {
  background-color: lightgreen;
  color: darkslategray;
  border: none;
  padding: 0.365rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: crosshair;
}

button:hover {
  color: lightsalmon;
  background-color: blue;
}
